@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-Hair.eot');
    src: local('Fira Sans Hair'),
         url('../fonts/fira/WEB/EOT/FiraSans-Hair.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-Hair.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-HairItalic.eot');
    src: local('Fira Sans Hair Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-HairItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-HairItalic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-HairItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-UltraLight.eot');
    src: local('Fira Sans UltraLight'),
         url('../fonts/fira/WEB/EOT/FiraSans-UltraLight.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-UltraLight.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-UltraLightItalic.eot');
    src: local('Fira Sans UltraLight Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-UltraLightItalic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('../fonts/fira/WEB/EOT/FiraSans-Light.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-Light.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-LightItalic.eot');
    src: local('Fira Sans Light Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-LightItalic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('../fonts/fira/WEB/EOT/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-Regular.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-Italic.eot');
    src: local('Fira Sans Regular Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-Italic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-Italic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
         url('../fonts/fira/WEB/EOT/FiraSans-Medium.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-Medium.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-MediumItalic.eot');
    src: local('Fira Sans Medium Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-MediumItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-MediumItalic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-SemiBold.eot');
    src: local('Fira Sans SemiBold'),
         url('../fonts/fira/WEB/EOT/FiraSans-SemiBold.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-SemiBold.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-SemiBoldItalic.eot');
    src: local('Fira Sans SemiBold Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-SemiBoldItalic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         url('../fonts/fira/WEB/EOT/FiraSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-Bold.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-BoldItalic.eot');
    src: local('Fira Sans Bold Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-BoldItalic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-ExtraBold.eot');
    src: local('Fira Sans ExtraBold'),
         url('../fonts/fira/WEB/EOT/FiraSans-ExtraBold.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-ExtraBold.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-ExtraBoldItalic.eot');
    src: local('Fira Sans ExtraBold Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-ExtraBoldItalic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-Heavy.eot');
    src: local('Fira Sans Heavy'),
         url('../fonts/fira/WEB/EOT/FiraSans-Heavy.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-Heavy.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/WEB/EOT/FiraSans-HeavyItalic.eot');
    src: local('Fira Sans Heavy Italic'),
         url('../fonts/fira/WEB/EOT/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/WEB/WOFF/FiraSans-HeavyItalic.woff') format('woff'),
         url('../fonts/fira/WEB/TTF/FiraSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/firamono/WEB/EOT/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('../fonts/firamono/WEB/EOT/FiraMono-Regular.eot') format('embedded-opentype'),
         url('../fonts/firamono/WEB/WOFF/FiraMono-Regular.woff') format('woff'),
         url('../fonts/firamono/WEB/TTF/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/firamono/WEB/EOT/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
         url('../fonts/firamono/WEB/EOT/FiraMono-Bold.eot') format('embedded-opentype'),
         url('../fonts/firamono/WEB/WOFF/FiraMono-Bold.woff') format('woff'),
         url('../fonts/firamono/WEB/TTF/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
