/* The console container element */
#console {
  position: absolute;
  width: 800px;
  height: 300px;
}
#console pre {
  background-color: #073642;
}
/* The inner console element. */
.jqconsole {
    padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: #586e75;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: #268bd2;
}
/* The command history */
.jqconsole-old-prompt {
    color: #2aa198;
    font-weight: normal;
}
/* The text color when inputted by the user. */
.jqconsole-input {
    color: #268bd2;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #2aa198;
    font-weight: normal;
}
/* The text color when outputted from PyPy.js. */
.jqconsole-output {
    color: #93a1a1;
}
/* Colour of the welcome message that starts an interactive session. */
.jqconsole-welcome {
    color: #6c71c4;
}


/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/
