/* This is the base file for nCoda CSS. */

/* ********************************************************************************************* */
/* Colour definitions */

/* The "solarized" set. */
@solarized-base03:  #002b36;
@solarized-base02:  #073642;
@solarized-base01:  #586e75;
@solarized-base00:  #657b83;
@solarized-base0:   #839496;
@solarized-base1:   #93a1a1;
@solarized-base2:   #eee8d5;
@solarized-base3:   #fdf6e3;
@solarized-yellow:  #b58900;
@solarized-orange:  #cb4b16;
@solarized-red:     #dc322f;
@solarized-magenta: #d33682;
@solarized-violet:  #6c71c4;
@solarized-blue:    #268bd2;
@solarized-cyan:    #2aa198;
@solarized-green:   #859900;

/* Taken from the KDE Plasma 5 palette. */
@cardboard-grey:    #eff0f1;
@cardboard-gray:    @cardboard-grey;
@paper-white:       #fcfcfc;
@plasma-blue:       #3daee9;
@charcoal-grey:     #31363b;
@charcoal-gray:     @charcoal-grey;
@shade-black:       #232629;
@danger-red:        #ed1515;
@beware-orange:     #f67400;
@sunbeam-yellow:    #c9ce3b;
@mellow-turquoise: #1cdc9a;
@verdant-green:     #11d116;

/* ********************************************************************************************* */
/* Boring things */

html { height: 100%; overflow: hidden; }
body {
    overflow: hidden;
    margin: 0px;
    height: 100%;

    font-family: 'Fira Sans';
    font-weight: 300;

    cursor: default;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#julius-goes-here {
    height: 100%;
}
#ncoda {
    height: 100%;
    display: flex;
    flex-flow: column;
}

/* ********************************************************************************************* */
/* The loading screen, shown before PyPy.js and Verovio are compiled. */

#ncoda-loading {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

#ncoda-loading i {
    color: @plasma-blue;
}

/* ********************************************************************************************* */
/* The top-level components (header and everything else) */

#ncoda-global-header {
    background: @charcoal-grey;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
    box-shadow: 0px 0px 7px @shade-black;
    z-index: 1000;
    color: @cardboard-grey;
    border-bottom: 3px solid @plasma-blue;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.ncoda-logo {
    color: @plasma-blue;
    font-weight: normal;
    padding-left: 1em;
}

.ncoda-logo-n {
    color: @mellow-turquoise;
    display: inline;
}

#ncoda-global-header button {
    margin: 0 0 0 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: inherit;
    border: none;
    color: @plasma-blue;
}
#ncoda-global-header button:hover {
    color: @mellow-turquoise;
}

#ncoda-global-header h1 {
    // display: inline;
    margin: 0px;
}

/*************************/
/* nCoda Menus Generally */

nav {
    background: @charcoal-gray;
    color: @cardboard-gray;
    margin: 0;
    padding: 0;
    min-width: 10em;
}
nav ul { padding: 0; margin: 0; }
nav li {
    display: block;
    padding: 0.25em 1.25em;
    border-left: 3px solid @charcoal-gray;
    transition: border-left 0.25s ease-in-out;
}
nav li:hover {
    border-left: 3px solid @mellow-turquoise;
}
nav li a {
    color: inherit;
    text-decoration: inherit;
}

#ncoda-global-menu {
    position: absolute;
    left: 0px;
    z-index: 900;
}

#ncoda-devel-menu {
    position: absolute;
    right: 0px;
    z-index: 900;
}

#ncoda-content {
    background: @cardboard-gray;
    color: @shade-black;
    overflow: hidden;
    flex-grow: 1;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/* the #ncoda div contains another div with the "julius" class */
.julius {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: darkgreen;
}

/* ********************************************************************************************* */
/* Things for the WorkTable (middle) */

.ncoda-work-table {
    overflow: hidden;
    background: @paper-white;
    min-height: 15em;
    height: 75%;
    max-height: 90%;
    /* for contents */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* TextEditor (middle-left) */
.ncoda-text-editor {
    width: 40%;
    min-width: 5%;
    max-width: 95%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.ncoda-text-editor h2 {
    margin: 0px;
    color: @charcoal-grey;
}

.ncoda-pypyjs-controls {
    background: @paper-white;
}

.ncoda-pypyjs-controls input {
    margin: 0.5em;
}

.ncoda-text-editor .ReactCodeMirror {
    background: seagreen;
    flex-grow: 1;
    overflow: scroll;
}

.ncoda-text-editor .CodeMirror {
    height: 100%;
    font-family: 'Fira Mono';
    font-size: smaller;
}

/* Verovio (middle-right) */
.ncoda-verovio {
    width: 60%;
    min-width: 5%;
    max-width: 95%;
    max-height: 100%;
    display: block;
    overflow: scroll;
    background: @cardboard-gray;
}

.ncoda-verovio svg {
    max-width: 100%;
}

.ncoda-verovio .verovio-waiting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: @shade-black;
}

.verovio-waiting i {
    color: @plasma-blue;
    filter: drop-shadow(0px 0px 5px @plasma-blue);
}

/* ********************************************************************************************* */
/* Things for the terminals (bottom) */

.ncoda-separator {
    /* separator between main window and terminals */
    min-height: 0.5em;
    background:  @cardboard-grey;
    min-width: 0.5em;
    flex-grow: 0;
}

.ncoda-separator:hover {
    background: lighten(@mellow-turquoise, 40%);
}

.ncoda-separator-selected {
    // TODO: this is basically to alert the user of an nCoda bug...
    background: @beware-orange;
}

.ncoda-separator-selected:hover {
    background: @mellow-turquoise;
}

.ncoda-separator-horizontal {
    cursor: ns-resize;
}

.ncoda-separator-vertical {
    cursor: ew-resize;
}

.ncoda-separator-console {
    box-shadow: 0px 0px 3px @shade-black;
}

.ncoda-terminal-output {
    // This contains the <h2> that says "output", plus the <div class="ncoda-output-terminals">
    overflow: hidden;
    background: @paper-white;
    display: block;
    min-height: 15em;
    height: 25%;
}

.ncoda-terminal-output h2 {
    margin: 0px;
    color: @charcoal-grey;
    flex-grow: 0;
    height: 10%;
}

.ncoda-output-terminals {
    // This contains the following three elements, layed out horizontally:
    // - <div class="ncoda-terminal-window ncoda-output-stdin">
    // - <div class="ncoda-separator ncoda-separator-vertical">
    // - <div class="ncoda-terminal-window ncoda-output-stdin">
    background: red;
    height: 90%;
    display: flex;
    flex-flow: row;
    // align-items: stretch;
}

.ncoda-terminal-window {
    // This is the terminal itself.
    background-color: @solarized-base02;
    color: @solarized-base0;
    overflow: scroll;
    padding: 3% 1em 0em;
}

.ncoda-output-stdin {
    width: 50%;
}

.ncoda-output-stdout {
    width: 50%;
}
